{% extends 'base.html' %}
{% load humanize %}
{% load static %}


{% block content-header %}

<div class="card-header">
  <div class = "row mr-0" style="display: flex; align-items: center; justify-content: space-between;">
    <div class = "col-sm-8">
      <h1 style="color: #2bff00;"><strong>Manas Academy</strong></h1>
    </div>
    <div>
    <div class="card-tools mr-0">
      
      <button class="btn btn-tool" onclick="window.print()">Print</button>
      <a href="{% url 'invoice-update' object.id %}" class="btn btn-tool">
        <i class="fas fa-edit"></i>
      </a>
      <a href="{% url 'invoice-delete' object.id %}" class="btn btn-tool">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
</div>
</div>
{% endblock content-header %}



{% block content %}

<div class="row">
  
  <div class="col-sm-4">
    {% if object.student_photo %}
      <img
        src="{{ object.student_photo.url }}"
        class="mx-auto d-block rounded-circle" style="width: 120px; height: 120px;">
    {% else %}
      <img
        src="{% static 'dist/img/avatar.png' %}"
        class="mx-auto d-block rounded-circle" style="width: 120px; height: 120px;">
    {% endif %}
    <br>
    <br>

    <h3><strong>{{ object }}</strong> </h3>
    <h5>{{ object.session }} </h5>
    <h5>{{ object.term }} </h5>
    <h5>{{ object.class_for }} </h5>
    <h6>Status: {{ object.get_status_display }} </h6>
    <hr>
    <div>
      <h4> Expected Balance: {{ object.balance | intcomma }}</h4>
    </div>
  </div>
  <div class="col-sm-8">
    <table class="table table-sm table-bordered">
      <strong style="position: relative; left: 40%; transform: translateX(-50%); ">Invoice Breakdown</strong>  
      
      <br>
      
      <thead class="thead-light" >
        <tr>
          <th style="text-align: center;">S/N</th>
          <th style="text-align: center;">Description</th>
          <th style="text-align: center;">Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td style="text-align: center;">{{ forloop.counter }} </td>
          <td>{{ item.description }} </td>
          <td style="text-align: right;">{{ item.amount | intcomma }} </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td style="text-align: center;">&#9830;</td>
          <td>Total Amount this term</td>
          <td style="text-align: right;">{{ object.amount_payable | intcomma}}</td>
        </tr>
        <tr>
          <td style="text-align: center;">&#9830;</td>
          <td>Balance from previous term</td>
          <td style="text-align: right;">{{ object.balance_from_previous_term | intcomma }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">&#9830;</td>
          <td>Total Amount Payable</td>
          <td style="text-align: right;">{{ object.total_amount_payable | intcomma}}</td>
        </tr>
        <tr>
          <td style="text-align: center;">&#9830;</td>
          <td>Discount</td>
          <td style="text-align: right;">{{ object.discount | intcomma}}</td>
        </tr>
        <tr>
          <td style="text-align: center;">&#9830;</td>
          <td>Total Amount Paid</td>
          <td style="text-align: right;">{{ object.total_amount_paid | intcomma}}</td>
        </tr>
        <tr>
          <td style="text-align: center;">&#9830;</td>
          <td>Balance Amount</td>
          <td style="text-align: right;">{{ object.balance | intcomma}}</td>
        </tr>

      </tfoot>
    </table>
  </div>
</div>
<br>
<hr>

<div class="d-flex justify-content-between align-items-center" style="padding-bottom: 3px;">
  <h4>Payment History</h4>
  <a class="btn btn-success btn-sm ml-auto" href="{% url 'receipt-create' %}?invoice={{ invoice.id }}">Add New Receipt</a>
</div>

<table class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th>Receipt No</th>
      <th>Amount Paid</th>
      <th>Date Paid</th>
      <th>Comment Paid</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for receipt in receipts %}
    <tr>
      <td>{{ receipt.invoice_no }}</td>
      <td>{{ receipt.amount_paid}}</td>
      <td>{{ receipt.date_paid}}</td>
      <td>{{ receipt.comment}}</td>
      <td><a href="{% url 'receipt-print' pk=receipt.pk %}" onclick="PrintReceipt()">Print</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<!-- <div style="text-align: right; margin-right: 2%; margin-bottom: 5%;">
  <br>
  <br>
  <br>
    <p>____________________________</p>
    <p>Authority Signature</p>
</div> -->



{% endblock content %}
